/* Breakpoints */
$screen-small: 375px; // iPhone 6/7/8
$screen-medium: 768px; // iPad portrait
$screen-large: 1024px; // iPad landscape

/* Colors */
$color-black: #1c1d1f;
$color-gray-dark: #222529;
$color-gray: #333;
$color-gray-light: #999;
$color-gray-lighter: #ccc;
$color-blue: #0c59a0;
$color-blue-light: #bedbf7;
$color-yellow: #eacc54;
$color-white: #fff;

$box-shadow-dark: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);
